<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link  href="netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <title>Love Fortune Teller</title>
</head>

<body id="questions">
    <header>
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="couple_input.html">Questionaire</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="results.html">Results</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="background.html">Background</a>
            </li>
        </ul>
    </header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container justify-content-center text-center align-items-center qtext background">
            <h1 class="display-4">So you already found someone, hmm?</h1>
            <p class="lead">Well, then how compatible are you?<br> Even MY magic could use a bit of help, so let's find out a little more about that...</p>
        </div>
    </div>
    <div class="container-fluid qtext questionairre">
        <div class="row justify-content-md-center question_margin">
            <div class="col-3">
                <p>
                    * Where did you meet? <span class="glyphicon glyphicon-question-sign tooltip infotab"
                        id="icon"></span>
                    <span class="tooltiptext">Choose the best fitting answer</span>
                </p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-3">
                <form action="results.html">
                    <select id="met" class="form-control" required>
                        <option selected="true" disabled="disabled" value="">Place Met</option>
                        <option value="met_online">Met Online</option>
                        <option value="met_at_work">Met at Work</option>
                        <option value="met_at_school">Met at School</option>
                        <option value="met_at_church">Met at Church</option>
                        <option value="met_travel">Met While Traveling</option>
                        <option value="met_social">Met at a Social Organization (i.e. health club, volunteer service)
                        </option>
                        <option value="met_party">Met at a Private Party</option>
                        <option value="met_f_and_f">Met through family and friends</option>   
                        <option value="met_as_neighbors">Met as neighbors</option>
                        <option value="met_other">Other</option>
                        <option value="met_public_space">Met at bar/restaurant or other gathering place</option>

                    </select>
            </div>
        </div>
        <div class="row justify-content-md-center question_margin">
            <div class="col-3">
                <p>How large is the age gap between you and your partner?</p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-3">
                <select class="form-control" id="age">
                    <option selected="true" disabled="disabled" value="">Age gap</option>
                    <option class="unselected" value="0 to 3">0-3 Years</option>
                    <option class="unselected" value="4 to 5">4-5 Years</option>
                    <option class="unselected" value="6 to 10">6-10 Years</option>
                    <option class="unselected" value="11 to 20">11-20 Years</option>
                    <option class="unselected" value="21">21+ Years</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-md-center question_margin">
            <div class="col-3">
                <p>Are you in a same-sex relationship?</p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-3">
                <select class="form-control" id="sexuality">
                    <option selected="true" disabled="disabled" value="">Orientation</option>
                    <option class="unselected" value="same-sex couple">Yes (Same Sex)</option>
                    <option value="different sex couple">No (Different Sex)</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-md-center question_margin">
            <div class="col-3">
                <p>Are you the same race as your partner?</p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-3">
                <select class="form-control" id="race">
                    <option selected="true" disabled="disabled" value="">Race</option>
                    <option value="samerace">Yes (Same Race)</option>
                    <option value="different race">No (Different Race)</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-md-center question_margin">
            <div class="col-3">
                <p>How many kids do you have?</p>
            </div>
        </div>
    <div class="row justify-content-md-center">
        <div class="col-3">
            <select class="form-control" id="kids">
                <option selected="true" disabled="disabled" value="">Kids</option>
                <option value="0">None</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-md-center question_margin">
        <div class="col-3">
            <p>Do you and your partner have a difference in education? (if so, about how many years difference?)</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-3">
            <select class="form-control" id="education">
                <option selected="true" disabled="disabled" value="">Education</option>
                <option value="0 to 2">0-2 Years</option>
                <option value="3 to 4">3-4 Years</option>
                <option value="5 to 6">5-6 Years</option>
                <option value="7">7+ Years</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <input class="btn btn-primary my-2" id="btn2" type="submit" value="Submit">
    </div>
    </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    <script src="../static/css/styles.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/inputs.js"></script>
    <!-- RR added, probably wrong -->
    <!-- <script src="{{ url_for('static', filename='css/styles.js') }}"></script> -->
</body>

</html>