div.jumbotron {
    color: black;
    background: none;
    padding: 5%    
}

#btn1 {
    background-color: #5a4254;
    border-color: #5c4552;
}

#btn2 {
    background-color: #5a4254;
    border-color: #5c4552;
    opacity: 100%;
}

.nav-link {
    color: white;
}

.nav-link.active {
    color: #5c4552;
}

.qtext {
    color: white;
    text-shadow: .5px .5px 15px black;
}

.question_margin {
    padding: 20px 0px 0px 0px;
    margin: 0px;
}

.row {
    margin: 0px;
}

.questionairre {
    opacity: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 8px 0px 50px;
    background-color: transparent;
    background-image: url(../images/billie-holiday.png);
    /* border-radius: 50px */
}
/* 
.infotab
    {
    cursor: pointer;
    }

.tooltip
    {
    display: block;
    position: absolute;
    background-color: rgb(130, 150, 200);
    padding: 5px;
}
 */

.background {
    padding: 8px 6px 50px 6px;
    opacity: 80%;
    background-color: transparent;
    background-image: url(../images/billie-holiday.png);
    border-radius: 50px
}

p.crystal {
    padding-top: 150px;
    padding-bottom: 10px;
}

header {
    background-image: url(../images/assault.png);
    /* opacity: 85%; */
}

#main {
    background-image: url(../images/crystal-ball-14781928157ne.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
  }

#questions {
    background-image: url(../images/tarot-991041_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}