/* Global */

div.jumbotron {
    color: black;
    background: none;
    padding: 5%    
}

.nav-link {
    color: white;
}

.nav-link.active {
    color: #5c4552;
}

.background {
    padding: 8px 6px 50px 6px;
    opacity: 90%;
    background-color: transparent;
    background-image: url(../images/billie-holiday.png);
    border-radius: 50px
}

header {
    background-image: url(../images/assault.png);
    /* opacity: 85%; */
}

/* Home Page */

#main {
    background-image: url(../images/crystal-ball-14781928157ne.jpg);    
    background-repeat: no-repeat;
    background-size: cover;

}

#btn1 {
    background-color: #5a4254;
    border-color: #5c4552;
}

.crystal {
    padding-top: 20px;
    padding-bottom: 10px;
}

#backgrounddiv {
    margin-top: 100px;
    padding: 8px 6px 50px 6px;
}

.hometext {
    color: black;
    text-shadow: .5px .5px 1px #5c4552;
}

/* Question Page */

#btn2 {
    background-color: #5a4254;
    border-color: #5c4552;
    opacity: 100%;
}

.qtext {
    color: white;
    text-shadow: .5px .5px 15px black;
}

.question_margin {
    padding: 20px 0px 0px 0px;
    margin: 0px;
}

.row {
    margin: 0px;
}

.questionairre {
    opacity: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 8px 0px 50px;
    background-color: transparent;
    background-image: url(../images/billie-holiday.png);
    /* border-radius: 50px */
}

.tooltip {
    position: relative;
    display: inline;
}

#icon {
    visibility: visible;
    opacity: 100%;
    color: white;
    display: inline;
}

.tooltiptext {
    width: 120px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: 10px;
    visibility: hidden;
}

.tooltiptext:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: rgba(0, 0, 0, .6);
    border-left: 0;
    margin-top: -10px;
    margin-left: -10px;
}

.tooltip:hover ~ .tooltiptext {
    visibility: visible;
}

#questions {
    background-image: url(../images/tarot-991041_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Results Page */

#results {
    background-image: url(../images/billy-huynh-cycMgDyN5ko-unsplash.jpg);
    background-size: cover;
}

.sentenceColor{
    color: white;
}
/* Background page */

#backgroundimg {
    background-image: url(../images/nasa-rTZW4f02zY8-unsplash.jpg);
    background-size: cover;
}